@charset "utf-8";

#page{width: 100%;font-size:0.34375rem;background-color: #efefef;}

header{height:1.4375rem;background-color: #f9fafd;}

header img{float: left;margin:0.390625rem 0 0 0.40625rem;width:0.359375rem;height:0.609375rem;}
header>form{float:left;margin:0.28125rem 0 0 1.09375rem;font-size: 0.40625rem;font-size: 0.40625rem;}
header>form input[type="text"]{width:6.25rem;height:0.875rem;border:2px solid #e0e0e0;border-radius:0.09375rem;text-indent: 0.765625rem;background:url(../images/search_img/search.png) no-repeat 0.203125rem 0.203125rem;background-size:0.390625rem 0.390625rem;}
header>form input[type="submit"]{border:0;background-color: #f9fafd;margin-left: 0.3125rem;}


#main{padding-bottom: 2.8125rem;padding-left: 0.171875rem;}

#main>div{padding-top: 0.84375rem;padding-bottom: 0.3125rem;}
#main>div:after{content:"";display: block;clear: both;}
#main>div p{font-size:0.3125rem;line-height: 0.34375rem;padding-left:0.328125rem;}
#main>div a{float: left;margin-left: 0.3125rem;font-size: 0.34375rem;height: 0.34375rem;line-height: 0.34375rem;border:2px solid #e4e4e4;letter-spacing: 0.046875rem;margin-top: 0.3125rem;border-radius: 0.5rem;text-align: center;line-height: 0.34375rem;padding:0.34375rem 0.484375rem;box-sizing: content-box;background-color: #fff;max-width:7.8125rem;overflow: hidden;white-space:nowrap;text-overflow: ellipsis;}

#main>span{margin-top: 1.09375rem;display: block;width:6.71875rem;height: 1.3125rem;border:2px solid #e0e0e0;margin-left: 1.71875rem;text-align: center;line-height: 1.3125rem;color: #aaaaaa;}

